/*IE compatibility*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body{
  background: #e1dfe0;
  background: -webkit-radial-gradient(ellipse, rgba(243,244,245,0.8), rgba(230,230,233,0.8)) fixed, url('../images/bgtexturenb.jpg');
  background:    -moz-radial-gradient(ellipse, rgba(243,244,245,0.8), rgba(230,230,233,0.8)) fixed, url('../images/bgtexturenb.jpg');
  background:     -ms-radial-gradient(ellipse, rgba(243,244,245,0.8), rgba(230,230,233,0.8)) fixed, url('../images/bgtexturenb.jpg');
  background:      -o-radial-gradient(ellipse, rgba(243,244,245,0.8), rgba(230,230,233,0.8)) fixed, url('../images/bgtexturenb.jpg');
  background:         radial-gradient(ellipse, rgba(243,244,245,0.8), rgba(230,230,233,0.8)) fixed, url('../images/bgtexturenb.jpg');
}
body>.container{
  margin-bottom: 50px;
}

/*highlight selection*/
*::selection{
  background: #428bca;
  color: white;
}

/*overwrite bootstrap font*/
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', sans-serif !important;
  font-weight: 700 !important;
}
nav h1{
  font-family: 'Roboto', sans-serif !important;
}
body, p, ul{
  font-family: 'Roboto Condensed', sans-serif !important;
}

nav h1, h1 small, h2 small{
  font-weight: 300 !important;
}

h2.panel-heading{
  margin: 0;
}

li h3{
  margin: 0;
}

.label{
  font-weight: 400;
};

.navbar h1{
  margin: 0;
}

.panel{
  background-color: transparent;
}

.panel .panel{
  background-color: rgba(255, 255, 255, 0.4);
}

.panel-footer{
  background-color: rgba(255, 255, 255, 0.3);
}

.list-group-item{
  padding-top: 5px;
  padding-bottom: 5px;
}

#skillset .span3{
    margin-left: 12px;
}

.profile{
    font-weight: bold;
}

#web, #skillset, #about, #pricing{
  border-bottom: 1px solid #f0f0f0;
  padding-top: 145px;
}

#about .panel-body, #pricing .panel-body{
  background-color: #f5f5f5;
}

.navbar-fixed-top{
  -webkit-box-shadow: 0 0 3px;
  -moz-box-shadow: 0 0 3px;
  -ms-box-shadow: 0 0 3px;
  -o-box-shadow: 0 0 3px;
  box-shadow: 0 0 3px;
}

.navbar .btn-group .btn-danger{
  background-color: #DD4B39;
  border-color: #DD4B39;
}
.navbar .btn-group .btn-danger:hover{
  background-color: #e15f4f;
}

.navbar .btn-group .btn-info{
  background-color: #03659A;
  border-color: #03659A;
}
.navbar .btn-group .btn-info:hover{
  background-color: #0375b3;
}

.navbar-nav .visible-xs{
  margin: 7.5px 0;
}

.carousel h3{
  margin-top: 0;
}
.carousel-inner{
  padding: 20px;
}

.fa-google-plus-square, .fa-linkedin-square{
  font-size: 1.1em;
}
.fa-google-plus-square{
  color: #db4a39;
}
.fa-linkedin-square{
  color: #0e76a8;
}

.glyphicon-asterisk{
  color: #843534;
  font-size: 0.8em;
}

input[type=number]{
  text-align: center;
}

a[href="#top"]{
  font-size: 4vw;
  position: fixed;
  bottom: 0.3em;
  right: 0.3em;
  text-decoration: none;
}

@media screen and (max-width: 467px) {
  a[href="#top"]{
    font-size: 15vw;
  }
}
