html, body {
  height: 100%;
  background-color: #006699; /*69D6FF*/
  background: linear-gradient(#006699, #63CBF7, #69D6FF);
  color: #ffffff;
}

body {
  padding-top: 20px;
}

header h1 {
  font-size: 9.8vw;
  text-shadow: -2px -2px 4px #006699, -1px -1px 4px #006699;
  line-height: 0.9;
}
