.jumbotron{
  background: url(../images/bright-squares.png);
  padding: 20px;
}

.predict-list{
  position: absolute;
  top: 52px;
  left: 203px;
  width: 887px;
  z-index: 9999;
  background-color: white;
  color: #2b3e50;
  list-style: none;
  padding: 4px;
  border-top: 1px solid #ccc;
}
.predict-list li{
  padding: 5px 10px;
}
.predict-list li:hover{
  background-color: #ddd;
  cursor: pointer;
};
