<div class="row">
  <div class="col-sm-4 pt-30 mb-15" style="border-left: 4px solid orange">
    <span class="h1 text-warning">Hi</span>
    <br>
    <span class="h2">My name is</span>
    <h1 class="text-primary m-0">
      Nathaniel
      <br>
      Bockoven
    </h1>
    <span class="h3">I'm a <span class="text-info">web</span></span>
    <br>
    <span class="h1 text-info">developer</span>
    <br>
    <span class="h2">and here's a</span>
    <br>
    <span class="h2"><span class="text-danger">little</span> about</span>
    <br>
    <span class="h1 text-warning">me</span>
  </div><!-- .col-sm-4 -->
  <div class="col-sm-8">
    <img src="images/me.jpg" alt="picture of me" class="img-responsive">
  </div><!-- .col-sm-8 -->
</div><!-- .row -->
